.card {
  perspective: 1000px;
  width: 200px;
  height: 300px;
}

.cardinner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flipped .cardinner {
  transform: rotateY(180deg);
}

.cardfront,
.cardback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardfront {
  transform: rotateY(0deg);
}

.cardback {
  transform: rotateY(180deg);
}
